# Visual Studio artifacts
*.suo
*.ncb
*.user

# Build environment artifacts
Build/*

# VIM artifacts
*~
*.swp

# Krull artifacts
*.kx

# Xcode artifacts
krull.xcodeproj/xcuserdata
krull.xcodeproj/project.xcworkspace

